@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap');

*{
    box-sizing:border-box;
}

body{

    margin:0;
    height:100vh;
    background:#f3EEE8;

    font-family:'Roboto Mono', monospace;
    color:#2B1B13;

    display:flex;
    justify-content:center;
    align-items:center;
    overflow:auto;
    padding:20px;

}

.page{

    width:700px;
    min-height:100%;
    min-height: auto;
    border:none;
    border-radius:0;
    padding:0;
    position:relative;
    background:#ffffff;
    box-shadow:0 18px 45px rgba(43,27,19,0.12);

}

.header{

    height:38px;
    border-bottom:1px solid #2B1B13;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:17px;
    font-weight:bold;
    color:#2B1B13;

}

.back{

    display:none;
}

.content{

    margin-top:28px;
    width:100%;

}

h1{

    font-size:28px;
    margin-bottom:0 0 32px;

}

p{

    color:#7C6151;
    font-size:18px;
    margin-bottom:0 0 32px;

}

label{

    display:block;
    font-size:15px;
    color:#7B5C4A;
    margin-bottom:8px;

}

input, select{

    width:100%;
    height:22px;
    border:1px solid #7B5C4A;
    border-radius:8px;
    padding:0 18px;
    font-family:'Roboto Mono';
    font-size:14px;
    margin-bottom:18px;
    background:#ffffff;
    color: #2B1B13;

    input ::placeholder{

        color:#7C6151;
    }

    input:focus, select:focus{

        outline:none;
        border-color:#2B1B13;
        box-shadow:0 0 0 3px rgba(123,92,74,0.18);
    }
}

.checkbox{

    display:flex;
    align-items:center;
    gap:12px;
    color:#7C6151;
    font-size:15px;

}

.checkbox input{

    width:22px;
    height:22px;
    margin:0;
    accent-color:#7B5C4A;

}

button{

    margin-top:24px;
    background:#2B1B13;
    color:#F3EEE8;
    border:none;
    border-radius:30px;
    padding:18px 35px;
    font-family:'Roboto Mono';
    font-size:17px;
    font-weight:bold;
    cursor:pointer;

}

button:hover{

    background:#7B5C4A;

}
